<h1 mat-dialog-title>Add New Restaurant</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <input type="file" (change)="onFileSelected($event)">
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
